.jumbotron {
  height: 400px;
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
.vertical-center {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#searchBtn{
  transform: translateX(140%);
}
.black{
  color:black;
}
input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.description{
  transform:translate(-20px,-30px);
}
textarea{
  transform: translateX(-20px);
  height:60px;
  width: 155px;
}

