<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'insert')}">
<head>
    <title>Data inserting</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <div class = "vertical-center">
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Data inserting</h1>
                <form action="#" action="/insertResults" th:object="${data} method="POST">
                    <label for="first">First Name:</label>
                    <input type="text" th:field="*{firstname}" id="firstname" name="firstname" class="black" placeholder="enter firstname..." required/></br>
                    <label for="last">Last Name:</label>
                    <input type="text" th:field="*{lastname}" id="lastname" name="lastname" class="black" placeholder="enter lastname..." required/></br>
                    <label for="last">Case Description:</label>
                    <input type="text" th:field="*{description}" id="description" name="description" class="black" placeholder="enter description..." required/></br>
                    <input type="submit" id="searchBtn" class="btn btn-primary" value="Insert" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
